@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/shared/MasterPage.cshtml";
}
@using FindLosts.Models;
<script src="~/scripts/UpdateAdmin.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3 class="ArabicAlign">اضافة مدير جديد</h3>
            </div>
            <div class="content">
                <form id="SubCreate" class="form-horizontal group-border-dashed" novalidate="" parsley-validate="" action="#" style="border-radius: 0px;">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block-flat" style="border: none;">
                            <div class="content">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label Arabic" style="text-align: center;">الرقم السري</label>
                                    <div class="col-sm-6 Arabic">
                                        <input class="form-control parsley-validated parsley-error" id="updatepasstxt" name="nick" parsley-trigger="change" required="" parsley-error-message="يجب ادخال الرقم السري" type="text" value="@ViewBag.moderator.Password"/>
                                    </div>
                                </div>
                                @*مكان الفقد*@
                                @* <div class="form-group">
                                    <label class="col-sm-3 control-label Arabic" style="text-align: center;">مكان الفقد</label>
                                    <div class="col-sm-6 Arabic">
                                        <input class="form-control parsley-validated parsley-error" id="custname" name="nick" parsley-trigger="change" required="" parsley-error-message="يجب ادخال الاسم" type="text" />
                                    </div>
                                     </div>*@
                                      @*مكان الفقد*@
                              @*  <div class="form-group">
                                    <label class="col-sm-3 control-label Arabic" style="text-align: center;">النوع</label>
                                    <div class="col-sm-6 Arabic">
                                        <label class="radio-inline">
                                            <div aria-disabled="false" aria-checked="false" style="position: relative;" class="iradio_square-blue">
                                                <input style="position: absolute; opacity: 0;" name="rad1" id="custfemale" class="icheck" type="radio">
                                                <ins style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0px none; opacity: 0;"  class="iCheck-helper"></ins>
                                            </div>
                                            انثي</label>
                                        <label class="radio-inline">
                                            <div aria-disabled="false" aria-checked="true" style="position: relative;" class="iradio_square-blue">
                                                <input checked="" style="position: absolute; opacity: 0;" name="rad1" id="custmale" class="icheck" type="radio">
                                                <ins style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0px none; opacity: 0;"  class="iCheck-helper"></ins>
                                            </div>
                                            ذكر</label>
                                    </div>
                                </div>*@
                               @* <div class="form-group">
                                    <label class="col-sm-3 control-label Arabic" style="text-align: center;">بيانات اخري</label>
                                    <div class="col-sm-6 Arabic">
                                        <textarea id="custnotes" class="form-control"></textarea>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block-flat" style="border: none;">
                            <div class="content">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label Arabic" style="text-align: center;">الاسم</label>
                                    <div class="col-sm-6 Arabic">
                                        <input class="form-control parsley-validated parsley-error" id="updatenametxt" name="nick" parsley-trigger="change" required="" parsley-error-message="يجب ادخال الاسم" type="text" value="@ViewBag.moderator.UserName"/>
                                    </div>
                                </div>
                                @* <div class="form-group">
                                    <label class="col-sm-3 control-label Arabic" style="text-align: center;">الرقم السري</label>
                                    <div class="col-sm-6 Arabic">
                                        <input class="form-control parsley-validated parsley-error" id="custname" name="nick" parsley-trigger="change" required="" parsley-error-message="يجب ادخال الرقم السري" type="text" />
                                    </div>
                                </div>*@
                                @*<div class="form-group">
                                    <label class="col-sm-3 control-label Arabic" style="text-align: center;">الوصف</label>
                                    <div class="col-sm-6 Arabic">
                                        <input class="form-control parsley-validated parsley-error" id="custaddress" parsley-trigger="change" required="" parsley-error-message="يجب ادخال العنوان" type="text">
                                    </div>
                                </div>*@
                               @* <div class="form-group">
                                    <label class="col-sm-3 control-label Arabic" style="text-align: center;">رقم هاتف المالك</label>
                                    <div class="col-sm-6 Arabic">
                                        <input id="PhoneMask" data-mask="mobile" class="form-control parsley-validated parsley-error" placeholder="999-9999-9999" parsley-trigger="change" required="" parsley-error-message="يجب ادخال رقم الهاتف" type="text">
                                    </div>
                                </div>*@
                                  @*مكان الفقد*@
                               @* <div class="form-group">
                                    <label class="col-sm-3 control-label Arabic" style="text-align: center;">اسم المالك</label>
                                    <div class="col-sm-6 Arabic">
                                        <input class="form-control parsley-validated parsley-error" id="custname" name="nick" parsley-trigger="change" required="" parsley-error-message="يجب ادخال الاسم" type="text" />
                                    </div>
                                    </div>*@
                                      @*مكان الفقد*@
                              @*   <div class="form-group">
                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">القائمة</label>
                        <div class="col-sm-6 Arabic">
                            <select id="listname" class="form-control">
                                @{
                                    <option value="9000"></option>
                                    foreach (PriceLists p in ViewBag.allpricelists)
                                    {
                                    <option value="@p.ID">@p.ListName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>*@
                                @*<div class="form-group">
                                <label class="col-sm-3 control-label Arabic" style="text-align: center;" >الكود</label>
                                <div class="col-sm-6 Arabic">
                                    <input data-mask="cardnumber" class="form-control" name="nick" id="Code" parsley-trigger="change" required="" parsley-error-message="يجب ادخال رقم العميل" type="text" />
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" id="save">حفظ</button>
                            <button type="button" onclick="Cancel(@ViewBag.moderator.ID)" class="btn btn-default">الغاء</button>
                            <div class="resultmsg" style="text-align:center;color:blue;"><label id="result"></label></div>
                        </div>
                        <div style="height:350px;">
                    </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
